{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'news/news.css' %}">
    <link rel="stylesheet" href="{% static 'snippets/snippets.css' %}">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <a href="/news">Новости</a>
        <a href="https://without-events.ru/viperr_show">Концерты</a>
        <a href="/" class="RR">RR </a>
        <a href="/merch">Мерч</a>
        <a href="/snippets">Снипеты</a>
    </nav>
    
    <main>
        {% block body %} {% endblock %}
    </main>
</body>
</html>