{% extends 'main/index.html' %}
{% load static %}

{% block title %}Главная{% endblock %}



{% block body %}
<div class="image-container">
    <img src="{% static 'main/img/baner1.jpg' %}" class="first"/>
    <img src="{% static 'main/img/baner2.jpg' %}" class="second" />
    <img src="{% static 'main/img/baner3.jpg' %}" class="third"/>
</div>
<form action="" method="post" class="registration">
    {% csrf_token %}
    {{ form.username }}<br>
    {{ form.password }}<br>
    <input type="submit" value="Стать VIPERR"><br>
</form>
<!-- <div class="tiser">we are VIPERR</div> -->
{% endblock %}