html, body {
    margin: 0; /* Убираем отступы у html и body */
    padding: 0; /* Убираем отступы у html и body */
    width: 100%; /* Убираем отступы и задаём ширину 100% */
    overflow-x: hidden; /* Защита от горизонтального скролла */
    background-color: black; /* Основной фон страницы - черный */
    color: white; /* Цвет текста по умолчанию */
    font-family: 'Inter', sans-serif; /* Пример шрифта */
}

/* Стили навигационной панели */
nav {
    background-color: #1c1c1c; /* Темно-серый фон для навигационной панели */
    padding: 20px; /* Паддинг для верхней панели */
    display: flex; /* Включаем Flexbox */
    justify-content: space-around; /* Равномерное распределение пространства между элементами */
    align-items: center; /* Центрируем элементы по вертикали */
    width: 100%; /* Задаем ширину 100% */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Добавляем тень для навигационной панели */
}

nav a {
    color: white; /* Цвет ссылок в навигации */
    text-decoration: none; /* Убираем подчеркивание ссылок */
    font-weight: 600; /* Жирный шрифт для ссылок */
    padding: 10px 15px; /* Паддинг для ссылок */
    border-radius: 5px; /* Закругление углов */
    transition: color 0.3s, transform 0.3s; /* Плавный переход для цвета и трансформации */
}

nav a.RR {
    font-size: large;
    font-weight: 800;
}

nav a:hover {
    color: rgb(238, 130, 238); /* Цвет ссылки при наведении */
    transform: scale(1.1); /* Увеличение размера текста при наведении */
}

/* Остальные стили остаются без изменений */